@import 'styles/_colors.scss';

.wrapper {
  margin: 0 auto;
  width: 60%;
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: $gray;
  font-weight: bolder;
  font-size: 15px;
}

.input_field {
  margin: 20px 0px;
  color: grey;
}

.text {
	color: green;
	margin-left: 10px;
}


